<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aigou2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aigou_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.aigou2.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.aigou2.CollectActivity"></activity>
        <activity android:name="com.example.aigou2.HomeActivity"></activity>
        <activity android:name="com.example.aigou2.MainActivity"></activity>
        <activity android:name="com.example.aigou2.MineActivity"></activity>
        <activity android:name="com.example.aigou2.TypeActivity"></activity>
        <activity android:name="com.example.aigou2.LoginActivity"></activity>
        <activity android:name="com.example.aigou2.CommendActivity"></activity>
    </application>

</manifest>
